<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://d3wo5wojvuv7l.cloudfront.net/t_square_limited_720/images.spreaker.com/original/48b5299b1e6d24eb15ef7f525404e89d.jpg" 
            alt="" width="30" height="24">
        </a>  
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            |||
        </button>
        <!---SideBAr-->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Welcome To The World Of Pokemon</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!--Sidebar Links-->
        <div class="offcanvas-body">
            <a class="btn btn-primary" href="https://flyaway12345.github.io/HIMediaHub/" target="_blank">Links</a>
        </div>
        </div>  
    </div>
  </nav>
  